<h1 class="chat-container">Stupid coaching</h1>

<p class="user">Your question: <%= params[:answer] %></p>

<p class="coach">Your coach answers: <%= @coach_answer %></p>


<%= link_to "Ask another question", ask_path %>
